<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="JSON viewer | CloutJS">
	<meta name="author" content="">
	<title>JSON viewer | CloutJS</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href="/clout-js/css/jsoneditor.min.css" rel="stylesheet" type="text/css">
<body>
	<header id="title" class='well'>
		<img src="/clout-js/img/clout_logo.png" align="right" height="70px" />
		<h2>Visualize JSON Objects in Readable Format</h2>
	</header>
	<div class="container-fluid">
		<div class="col-md-6">
			<div id="jsoneditor" style="height:600px"></div>
		</div>
		<div class="col-md-6">
			<div id="visualize" style="height:600px"></div>
		</div>
	</div>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>
	<script src="/clout-js/js/jsoneditor.min.js"></script>
	<script type="text/javascript">
		var data = <%-JSON.stringify(data)%>,
			visualizeDiv = document.getElementById('visualize'),
			jsoneditorDiv = document.getElementById('jsoneditor'),
			visualize = new JSONEditor(visualizeDiv, {
				mode: 'tree'
			}, data),
			jsoneditor = new JSONEditor(jsoneditorDiv, {
				mode: 'code'
			}, data);

		function doSizing() {
			var windowHeight = $(window).height(),
				headerHeight = $('#title').height(),
				heightWanted = (windowHeight - headerHeight - 80);
			visualizeDiv.style.height = heightWanted + 'px';
			jsoneditorDiv.style.height = heightWanted + 'px';
		}
		doSizing();
		$(window).resize(doSizing);
	</script>
</body>
</html>